/* AllRightsReserved.css */

.all-rights-reserved {
  bottom: 0;
  width: 100%;
  background-color: #000;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-size: medium;
}

.all-rights-reserved a {
  color: #fff;
  margin-left: 5px;
  text-decoration: none;
}

.all-rights-reserved a:hover {
  color: #cb440b; /* Promijenite boju hover-a prema želji */
}
