/* ContactUs.css */

.contact {
    background-color: white;
    background-size: cover;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }

.contact-us-container {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 30px;
    background-color: #007bff;
    border-radius: 8px;
  }
  
  .contact-us-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc8e;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  
  .contact-button {
    padding: 10px 20px;
    background-color: #002049;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-button:hover {
    background-color: #0068d6;
  }
  
  .contact-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  .glava {
    margin-top: 10%;
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .contact-us-container, .informa {
      flex: 1;
      margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .contact-us-container textarea{
    height: 60px;
  }
  .informa {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .informa p {
    font-size: 16px;
  }

  .informa h2 {
    color: #333;
  }

  .informa img {
    max-height: 200px;
  }