/* FAQ.css */

.question-box {
  font-size: 16px;
  color: #000000ea;
  margin-top: 20px;
  padding: 5px 0;
  text-align: center;
  background-color: #ffffffee;
  font-size: 24px;
}

.faq-container {
  max-width: 65%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.faq {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.faq-question {
  padding: 10px;
  background-color: #e4e4e4;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.faq-answer {
  padding: 10px;
  display: none;
  background-color: #ffffffef;
  color: #3d3d3d;
  line-height: 1.5;
  font-size: 15px;
}

.faq-answer.show {
  display: block;
}

.faq-question i {
  font-size: 18px;
  transition: transform 0.3s ease;
  color: #000000;
}

.faq-question:hover i {
  transform: rotate(180deg);
}
