.form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type='date'],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: 	rgb(15, 51, 87);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  