
.home-container {
    background: url('../../photos/background.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  
  .home-content {
    position: relative;
    z-index: 1;
  }
  
