/* Header Styles */
.header {
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.938);
  position: fixed;
  z-index: 999;
  height: 8%; /* Allow height to adjust based on content */
}

.contact-info {
  margin-left: 5%;
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: flex-end;
  width: 100%;  
}

.contact-info p {
  margin-top: 0; /* Adjusted for better alignment */
  font-size: 16px;
  margin-right: 30px;
}

.logo img {
  height: 50px;
  background-color: #007bff;
}

.link {
  color: white;
  margin-right: 50px;
}

.menu-toggle {
  width:40%;
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Ensure vertical alignment */
  width: max-content;
}

.menu ul li {
  margin-right: 30px;
  margin-left: 30px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 24px;
}


.menu ul li a:hover {
  color: #ffd700;
}


@media (max-width: 415px) {
  .menu ul {
      font-size: 14px;
      display: none; /* Hide the menu by default on small screens */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px; /* Adjusted top position */
      left: 0;
      background-color: #007bff;
      padding: 20px 0; /* Add padding for touch area */
  }

  .menu.active ul {
      display: flex; /* Show the menu when active */
  }

  .menu-toggle {
      justify-content: center;
      display: block; /* Show the toggle button on small screens */
  }

  .menu ul li {
      text-align: center;
      width: 100%;
      margin-right: 0; /* Remove margin for mobile view */
  }

  .menu ul li a {
      padding: 7px;
      font-size: 12px; /* Adjusted font size for mobile */
  }

  .contact-info {
    width: 100%;
    flex-direction: column;
    margin-right: 0;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-info p {
    margin-right: 0; /* Align email and phone on mobile */
    margin-top: 5px;
    margin-bottom:5px;
    font-size: 7px;
  }
}


@media (max-width: 950px) and (min-width: 415px) {
  .menu ul {
      font-size: 14px;
      display: none; /* Hide the menu by default on small screens */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px; /* Adjusted top position */
      left: 0;
      background-color: #007bff;
      padding: 20px 0; /* Add padding for touch area */
  }

  .menu.active ul {
      display: flex; /* Show the menu when active */
  }

  .menu-toggle {
      justify-content: center;
      display: block; /* Show the toggle button on small screens */
  }

  .menu ul li {
      text-align: center;
      width: 100%;
      margin-right: 0; /* Remove margin for mobile view */
  }

  .menu ul li a {
      padding: 7px;
      font-size: 12px; /* Adjusted font size for mobile */
  }

  .contact-info {
    width: 100%;
    flex-direction: column;
    margin-right: 0;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-info p {
    margin-right: 0; /* Align email and phone on mobile */
    margin-top: 5px;
    margin-bottom:5px;
    font-size: 9px;
  }
}


@media (min-width: 1000px) and (max-width: 1300px) {
  .link {
    font-size: 12px;
    margin-right: 10px;
  }
  .contact-info{
    margin-left: 20px;
    padding-left: 20px;
  }
  .menu ul li {
    margin-left: 2px;
  }
}

@media (max-height:750px) and (max-width:1000px){
  .menu ul {
    font-size: 14px;
    display: none; /* Hide the menu by default on small screens */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px; /* Adjusted top position */
    left: 0;
    background-color: #007bff;
    padding: 20px 0; /* Add padding for touch area */
}
}

@media (min-height:1000px) and (max-width: 950px){
  .menu ul {
    font-size: 14px;
    display: none; /* Hide the menu by default on small screens */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 90px; /* Adjusted top position */
    left: 0;
    background-color: #007bff;
    padding: 20px 0; /* Add padding for touch area */
}
}

@media (max-height: 600px) {
    .header{
      height: 70px;
    }
}