/*Stilizacija Home komponente */
.vozila {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
  color: rgb(16, 15, 14);
}

.form{
  margin-left: 5%;
  margin-top: auto;
}

.left-content {
  width: 70%;
  padding-right: 20px;
}

.right-content {
  margin-top: 2%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.question-box {
  margin-top: 20px;
  border: 2px solid rgba(73, 67, 92, 0);
  padding: 10px;
  background-color: #1b102ccc;
}
  
  .vehicle-card {
    width: 300px;
    border: 1px solid #d7dce7aa;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .vehicle-card:hover {
    transform: scale(1.05);
  }
  
  .vehicle-card .name, .model {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #fdf9f974;
    border-bottom: 1px solid #f3eeee05;
  }
  
  .body {
    padding: 10px;
  }
  
  .vehicle-card .price {
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f067;
    border-top: 1px solid #dddddde8;
  }
  .vehicle-card .vehicle-image {
    background-color: #f0f0f000;
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .sort-container {
    margin: 20px;
    margin-top: 70px;
    height: 50px;
    width: 150px;
    margin-left: 1200px;
    background-position-x: right;
    display: flex;
    justify-content: center;
  }
.vehicle-card {
  width: 300px;
  border: 1px solid #d7dce7aa;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.vehicle-card:hover {
  transform: scale(1.05);
}

.vehicle-card .name, .model {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: #fdf9f974;
  border-bottom: 1px solid #f3eeee05;
}

.vehicle-card .price {
  font-weight: bold;
  padding: 10px;
  background-color: #f0f0f067;
  border-top: 1px solid #dddddde8;
}

.vehicle-card .vehicle-image {
  background-color: #f0f0f000;
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sort-container, .filter {
  margin-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #0056b3;
}

.vehicle-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, calc(50% / 2)));
  grid-auto-rows: minmax(100px, auto); 
  gap: 20px;
}
.header-image {
  width: 100%;
  height: 600px;
  background: url('../../photos/front-image.png') no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: white;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 8px;
}

.sort-options{
  margin-right: 20px;
}