/* Stilizacija Home komponente */

.vozila {
    justify-content: space-around;
    margin-top: 10%;
    color: rgb(226, 217, 208);
  }
  
  .vehicle-card {
    width: 300px;
    border: 1px solid #e2e3e576;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .vehicle-card:hover {
    transform: scale(1.05);
  }
  
  .vehicle-card .name, .model {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f054;
    border-bottom: 1px solid #f3eeee05;
  }
  
  .body {
    padding: 10px;
  }
  
  .vehicle-card .price {
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f067;
    border-top: 1px solid #dddddde8;
  }
  
  /* Dodatne stilizacije za slike */
  
  .vehicle-card .vehicle-image {
    background-color: #f0f0f000;
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .sort-buttons {
    margin-top: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sort-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sort-button:hover {
    background-color: #0056b3;
  }
  
  .vehicle-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px; 
    display: grid;
  }
  
  .vehicle-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .vehicle-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.filter select {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.filter label {
  margin-right: 10px;
  color: #ccc;
}


  