/*Stilizacija Home komponente */
.vozila {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.932);
  padding-top: 3%;
  flex-direction: column;
  font-family: 'Poppins', sans-serif; /* Change the font */
}

.form{
  margin-left: 5%;
  margin-top: auto;
}

.left-content {
  width: 70%;
  padding-right: 20px;
  min-height: 800px;
}

.right-content {
  margin-top: 2%;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.question-box {
  margin-top: 20px;
  border: 2px solid rgba(73, 67, 92, 0);
  padding: 10px;
  background-color: #1b102ccc;
  border-radius: 10px;
}
  
  .vehicle-card {
    max-width: 300px;
    border: 1px solid #19233aaa;
    border-radius: 10px;
    margin-top: 20px;
    margin-left:5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  
  .vehicle-card:hover {
    transform: scale(1.05);
  }
  
  .vehicle-card .name {
    margin-bottom: 1px;
    border-bottom: #fff;
    border-width: 1px;
  }

  .vehicle-card .name, .model {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #007bff;
    border-bottom: 1px solid #f3eeee05;
    color: white;
  }
  
  .body {
    padding: 10px;
  }
  
  .vehicle-card .price {
    font-weight: bold;
    padding: 10px;
    background-color: #007bff;
    border-top: 1px solid #fff;
    color: white;
  }
  .vehicle-card .vehicle-image {
    background-color: #f0f0f000;
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .sort-container {
    margin: 20px;
    margin-top: 0px;
    height: 50px;
    width: 150px;
    margin-left: 1200px;
    background-position-x: right;
    display: flex;
    justify-content: center;
  }

.vehicle-card:hover {
  transform: scale(1.05);
}

.sort-container, .filter {
  margin-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #0056b3;
}

.vehicle-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, calc(50% / 2))); /* Adjust as needed */
  grid-auto-rows: minmax(100px, auto); /* Adjust row height as needed */
  gap: 10px; /* Adjust gap between grid items */
}
.header-image {
  width: 100%;
  height: 600px;
  background: url('../../photos/front-image.png') no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-text {
  color: white;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 8px;
}

.sort-options{
  margin-right: 20px;
}

.title-vozila{
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  padding: 20px;
}

.vehicle-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}