.modal {
  position: fixed;
  top: 150px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main {
  background-color: #F0F0F0;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: 2px solid #000000;
  border-radius: 20px;
}

.modal-main .img {
  width: 100px;
}

.display-block {
  display: block;
  background: none;
}

.display-none {
  display: none;
}

button{
  margin-top: 10px;
}